# Environment secrets
.env

# Python caching & testing
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual environments
venv/
.venv/
env/

# Operating System Files
Thumbs.db
Desktop.ini
